@import "tailwindcss";

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 32px;
  padding: 4px;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 1400% 1400%;
  animation: rainbow 12s ease infinite;
}

.animation > .content {
  border-radius: 8px;
  background: white; 
  padding: 1rem;
}
